@import '../2.mixins/mixins';

.hero-image {
    width: $full-width;
    background-image: url("../images/hero.jpeg");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include flex(row, center, center, no-wrap);
    @media (min-width: 768px) {
        height: 80vh;
    }
    .hero-container {
        width: $container-width;
        max-width: $container-max-width;
        @include flex(row, flex-start, flex-start, no-wrap);
        .hero-text {
            width: 40%;
            display: none;
            color: white;
            @media (min-width: 768px) {
                display: block;
            }
            h1, p {
                text-align: left;
                letter-spacing: 0.05em;                
                font-weight: 200;
            }
            h1 {
                font-size: 1.6em;
                margin-bottom: 20px;
            }
            p {
                line-height: 1.8em;
            }
        }
    }
}